body {
  font-size: 16px;
  color: #000;
  background-color: #fff;
  font-family: 'Oxygen', sans-serif;
}
#header-nav {
  background-color: lightgray;
  border-radius: 0;
  padding-bottom: 15px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 0px;
  margin-bottom: 0px;
}
#nav-list a {
  color: black;
  font-weight: 600;
  text-align: center;
  border-top: 1px solid black;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
.container section {
	border: 2px solid #3F0C1F;
	background-color: lightgray;
	margin: 30px 15px;
	min-height: 1000px;
}
.container p {
  padding: 0px 10px 10px 10px;
}
.container h2 {
	color: #000;
  font-weight: bolder;
  text-shadow: .75px .75px .75px #222;
}
h3 {
  font-weight: bolder;
  text-shadow: .5px .5px .5px #222;
}
#Chicken {
  width: 50%;
  border-color: #808080;
}
@media (max-width: 767px) {
  #header-nav {
    padding-bottom: 2.5px;
  }
  .navbar-header {
    padding-bottom: 7.5px;
  }
}